* {
    margin: 0;
    padding: 0;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.scroll{
  overflow:scroll;
}

@media (max-width: 480px) {
    .column {
        float: none;
        width: 100%
    }
}

/*#templatedLists {
  overflow: scroll;
  /*background-color: #33e;*/

h1 {
    font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
    background-color: #eee;
    padding: 0px 5px;
}

h2 {
    /*margin: 0px 0px 0px 0px;*/
    font: bold 22px/1.5 Helvetica, Verdana, sans-serif;
    padding: 0px 5px;
    background-color: #eee
}

i {
    border: solid black;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 7px;
}

.right {
    border-color: #0d0;
    float: left;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    border-color: red;
    float: right;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

ul {
    list-style-type: none;
    background-color: #eee;
    border-style: none none groove none;
    /*width: 400px;*/
}

h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    margin-left: 10px;
}

.swipe {
    background-size: 100% 200%;
    background: #CCCCCC
    linear-gradient(to right,
            gray,
            #919191);
    transition: background-position 1s;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
}

.swipe:hover {
    background-position: 0 -100%;
}

li img {
    float: left;
    margin: 0 5px 0 10px;
    width: 50px;
}

li p {
    float: left;
    font: 200 16px/1.5 Arial, Helvetica, sans-serif;
}

.bold {
  font: 200 20px/1.5 Arial, Helvetica, sans-serif;
  font-weight: bold;
}

li {
    border-style: groove none none none;
    padding: 10px;
    overflow: auto;
}

.button {
    /*max-width: 400px;*/
    float: left;
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 5px 10px 5px 10px;
    border: 2px solid #CCCCCC;
    border-right-color: #333333;
    border-bottom-color: #333333;
}

.rightpar {
    float: right;
}

.button:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

.green {
    float: right;
    background-color: #90EE90;
}

.green:hover {
    background-color: #70DD70;
    cursor: pointer;
}

.animate {
    transition: transform 0.3s ease-out;
}

p, a, h4 {
    margin: 0px 10px;
}

.wrapper {
    text-align: center;
    margin:auto;
    display:block;
}

.fill {
    min-height: 100%;
    height: 100%;
}
