:root {
  --main-bg-color: #ffffff;
  --green-bg-color: #008B5C;
  --green-button-color: #00C685;
  --red-color: #FF5833;
  --green-color: #45FFA1;
  --green-darker: #004E34;
  --shading: #eeeeee;
  --font-color-1: #ffffff;
  --font-color-2: #000000;
  --image-size: 50px;
}

.speech {
    border: 1px solid #DDD;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.speech input {
    border: 0;
    width: 100%;
    height: 30px;
}

.voice-search {
    text-align: center;
    margin: 10px
}

.voice-search img {
    width: 120px;
    height: 120px;
    text-align: center;
    margin: 5vw;
}

.voice-search2{
    width: 50px;
    height: 50px;
    margin: 0;
}

.smaller{
  max-width: 75vw;
  margin-top: 4px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 7vw;
    padding: 0px 5px;
}

#search1 {
  padding: 9vw 0 0 0;
  margin: 0 auto;
  text-align:left;
  max-width: 90vw;
}

.subtitle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5vw;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #888;
  color: #888;
  margin-top: 10px;
  margin-bottom: 3px;
}
